

<h5 style="text-align:right;font-family: IRANSANS;">لیست آرایشگاه ها</h5>
<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8" style="direction: rtl;">
  <!-- <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container> -->
  <ng-container matColumnDef="BarberID">
      <th mat-header-cell *matHeaderCellDef style="text-align: right;font-family: IRANSANS;">   &nbsp;&nbsp;کد آرایشگاه &nbsp;</th>
      <td mat-cell style="padding-right: 2%;font-family: IRANSANS;" *matCellDef="let element"> {{element.BarberID.toLocaleString('fa-IR')}} </td>
  </ng-container>
  <ng-container matColumnDef="Barbername">
      <th mat-header-cell *matHeaderCellDef  style="text-align: right;font-family: IRANSANS;"> نام آرایشگاه </th>
      <td mat-cell style="font-family: IRANSANS;" *matCellDef="let element"> {{element.Barbername}} </td>
    </ng-container>
    <ng-container matColumnDef="BarberScore">
        <th mat-header-cell *matHeaderCellDef style="text-align: right;font-family: IRANSANS;"> امتیاز </th>
        <td mat-cell style="padding-right: 2%;font-family: IRANSANS;"  *matCellDef="let element"> {{element.BarberScore.toLocaleString('fa-IR')}} </td>
      </ng-container>
  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <!-- <div class="example-element-diagram">
          <div class="example-element-position"> {{element.position}} </div>
          <div class="example-element-symbol"> {{element.symbol}} </div>
          <div class="example-element-name"> {{element.name}} </div>
          <div class="example-element-weight"> {{element.weight}} </div>
        </div> -->
        <div class="example-element-description" style="direction: rtl;margin-left: 49%;font-family: IRANSANS;">
         <!-- the ID is {{element.ID}} and the name is {{element.Name}} and the Address is {{element.Address}} -->
        <p>شماره تماس : {{element.BarberPhoneNumber.toLocaleString('fa-IR')}}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p><p> آدرس آرایشگاه : <b style="color: red;">{{element.BarberAddress}}</b></p>

              <button mat-stroked-button style="display: inline-block;" (click)="Go(element.BarberID)"><p style="font-family: IRANSANS;">انتخاب تاریخ و ساعت</p></button>

<!--
        <p>ادرس آرایشگاه : {{element.Address}}</p> -->


        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
