<!-- <div style="height: 100%;">
  <div class="example-container" style="    margin-top: 12%;
  margin-bottom: 12%;">
    <mat-card style="    margin-left: 35%;
    width: 33%;
    border: solid;">
      <mat-form-field>
        <input
        id="usr"
        #usr
          matInput
          placeholder="Enter your email"
          [formControl]="email"
          required
          [ngModel]="inputusername"
        />
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
        id="passwd"
          matInput
          password
          placeholder="Enter your password"
          [formControl]="password"
        
          #pass
          required
        />
        <mat-error *ngIf="password.invalid">{{
          getErrorMessageForPassword()
        }}</mat-error>
      </mat-form-field>
      <br />
      <br>
      <button mat-stroked-button (click)="Login()">Login</button>
    </mat-card>
    <p>{{result}}</p>
  </div>
</div> -->



<div class="container"  id="container" style="font-family: IRANSANS;">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1 style="font-family: IRANSANS;">فرم ثبت نام</h1>
			 <div class="social-container">
			<button mat-stroked-button (click)="displayThem()" style="background-color: crimson;color: aliceblue;font-size: larger;" ><span style="font-family: IRANSANS;">ثبت آرایشگاه</span> </button>
			</div> 
			<span style="font-family: IRANSANS;">در صورت ثبت آرایشگاه بر روی دکمه ثبت آرایشگاه کلیک کنید :)</span>
			<input type="text" id="fullname" placeholder="نام و نام خانوادگی" />
      <input type="text" id="usrname" placeholder="نام کاربری" />
      <input type="text" id="usrphone" placeholder="شماره تماس">
      <input type="text" id="usraddress" placeholder="آدرس کاربر">
      <input type="text" id="bbname" placeholder="نام آرایشگاه" style="display: none;">
      <input type="text" id="bbaddress" placeholder="آدرس آرایشگاه" style="display: none;">
 			<input type="password" id="password" placeholder="رمز عبور"/>
			<button (click)="register()"><span style="font-family: IRANSANS;">ثبت نام</span> </button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#" style="direction: rtl;">
			<h2>فرم ورود به سایت </h2>
		
		<br>
			<input type="email" id="usr" placeholder="نام کاربری" />
			<input type="password" id="passwd" placeholder="رمز عبور" />
			<br>
			<button (click)="Login()">ورود</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>!! خوش آمدید</h1>
				<p>لطفا جهت ثبت نام فرم را پر کنید سپس روی دکمه ثبت نام بزنید</p>
				<button class="ghost" id="signIn">قسمت لاگین</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>سلام  !وقت بخیر</h1>
				<p>نام کاربری و رمز عبور خود را وارد نمایید </p>
				<button class="ghost" id="signUp">قسمت ثبت نام</button>
			</div>
		</div>
	</div>
</div>

