<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="container-fluid">
  <div class="row">
    <mat-toolbar class="hero-background " style="display: inline-block;">
      <div
        dir="rtl"
        class="col"
        style="display: inline-flex;padding-top: 1%;float: right;"
      >
        <mat-icon
          style="height: 43px;width: 37px;color: black;"
          aria-setsize="50"
          svgIcon="Barber-shop"
          aria-hidden="true"
          aria-label="Example thumbs up SVG icon"
        >
        </mat-icon>
        &nbsp; &nbsp;
        <h3 style="padding-top: 4%;font-family:IRANSans ;color: black;">
          
        </h3>
      </div>

      <div class="col" style="   display: inline-flex;padding-top: 1%;">
        <button style="direction: ltr;" mat-button [matMenuTriggerFor]="menu">
          <mat-icon
            style="height: 43px;width: 37px;margin-top: -142%;color: black;"
            aria-setsize="50"
            svgIcon="Menu"
            aria-hidden="true"
          >
          </mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="LoadLoB()" mat-menu-item style="text-align: right;">لیست آرایشگاه ها</button>
          <button mat-menu-item style="text-align: right;">حساب کاربری</button>
        </mat-menu>
      </div>
      <div
        style="display: inline-block;
         margin-left: 40%;"
      >
        <mat-icon
          style="height: 67px;width: 127px;"
          aria-setsize="80"
          svgIcon="reserved"
          aria-hidden="true"
          currentColor="Primary"
        >
        </mat-icon>
      </div>
    </mat-toolbar>
  </div>

</div>
<!-- <button type="button" class="btn btn-primary">Primary</button> -->

<!-- <div  style="float:right;direction:rtl;text-align:right;">
  <mat-icon style="height: 43px;width: 37px;" aria-setsize="50"  svgIcon="Barber-shop"  aria-hidden="true" aria-label="Example thumbs up SVG icon">
  </mat-icon>
  &nbsp;	&nbsp;
  <h3>
          آرایشگاه {{BarbershopName}}
  </h3>
</div>-->

<!--
<button mat-button>
SAEED Areffard
</button> -->

<router-outlet></router-outlet>
