<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



<div class="container">
    <div class="row" *ngFor="let element of datesource" style="width: 100%;display: inline-block;;direction: rtl;border: 5px;border-color: black;padding: 1em; border-style: solid;">
        <strong style="font-family: IRANSANS;font-size: large;width: 50%;display: inline-block;">
             تاریخ سفارش:     <b id="date" style="direction: rtl;color: red;">    {{element.Orderdate}}</b>
        </strong>
        <strong style="font-family: IRANSANS;font-size: large;width: 50%;display: inline-block;" >
            نام آرایشگاه : <b style="color: red;">
                {{element.Barbername}}
            </b>
        </strong>
        <br>
        <br>
        <b style="font-family: IRANSANS;"> 
            ساعت :<b style="color: red;"> {{element.Orderhour}}</b>
        </b>
        <img style="float: left;" src="https://img.icons8.com/ios-filled/50/000000/barber-scissors.png"/>
        <br>
        <button mat-stroked-button style="background-color:maroon;color: aliceblue;"  (click)="DeleteOrder()">
            <span style="font-family: IRANSANS;">کنسل</span>
        </button>
        <br>        
        <br>
    </div>
    <br>
    <br>
    
    <button mat-stroked-button style="background-color: khaki;" (click)="GOtoList()">
        <span style="font-family: IRANSANS;">لیست آرایشگاه ها</span>
    </button>

    <!-- <div class="row" style="width: 48%;direction: rtl;float:right;border: 5px;border-color: black;padding: 1em; border-style: solid;">
        <strong style="font-family: IRANSANS;font-size: large;">
             تاریخ سفارش: <b style="direction: ltr;">{{DateOrdered.toLocaleString('fa-IR')}}</b>
        </strong>
        <br>
        <br>
        <b style="font-family: IRANSANS;"> 
            ساعت :{{hour}}
        </b>
        <br>
    </div> -->
</div>