<script src="../../../../node_modules/angular-material-persian-datepicker/dist/datePicker.min.js"></script>

<div class="container">
    <p>ID IS {{TheElement}}</p>
  
    <dp-date-picker
    id="dayPicker"
    
    
       style="font-family: IRANSANS;"
       dir="ltr"
       [(ngModel)]="dateObject"
       (close)="getBusytime($event)"
       mode="day"
       placeholder="تاریخ"
       theme="dp-material">

     </dp-date-picker>
     <p id="dateValidator" *ngIf="!IsDateOK" style="color: crimson;font-family: IRANSANS;">لطفا تاریخ را وارد نمایید</p>
     <br>

      <br>
      <mat-button-toggle-group  #gr="matButtonToggleGroup" >
          <mat-button-toggle id="8" value="08:00">8:00 </mat-button-toggle>
          <mat-button-toggle id="9" value="09:00">9:00 </mat-button-toggle>
          <mat-button-toggle id="10" value="10:00">10:00 </mat-button-toggle>
          <mat-button-toggle id="11" value="11:00">11:00 </mat-button-toggle>
          <mat-button-toggle id="12" value="12:00">12:00 </mat-button-toggle>
          <mat-button-toggle id="16" value="16:00">16:00 </mat-button-toggle>
          <mat-button-toggle id="17" value="17:00">17:00 </mat-button-toggle>
          <mat-button-toggle id="18" value="18:00">18:00 </mat-button-toggle>
          <mat-button-toggle id="19" value="19:00">19:00 </mat-button-toggle>
          <mat-button-toggle id="20" value="20:00">20:00 </mat-button-toggle>
          <mat-button-toggle id="21" value="21:00">21:00 </mat-button-toggle>
          <mat-button-toggle id="22" value="22:00" style="display: none;">22:00 </mat-button-toggle>
        </mat-button-toggle-group>
        <p id="dateValidator" *ngIf="!IsHour" style="color: crimson; font-family: IRANSANS;">لطفا روی یکه از ساعت ها کلیک کنید </p>
        <br>
        <strong style="color:mediumblue; font-family: IRANSANS;">ساعاتی که به رنگ قرمز در آمده اند توسط مشتریان دیگز رزرو شده است</strong>




      <br>
        <br>
      <button mat-stroked-button style="background-color:#4CAF50;"  (click)="SetParaGraph()">
      <span style="font-family: IRANSANS;">ذخیره</span>
      </button>

      <button mat-stroked-button style="background-color:chocolate;float: right;"  (click)="GoToOrder()">
        <span style="font-family: IRANSANS;">لیست رزرو ها</span>
        </button>
      <br>
      <b  id="res" style="font-family: IRANSANS;border-style: solid;color: red; padding: 1em;display: none;direction: rtl;float: right;">
        {{TheResultOfORder}}
      </b>


</div>
