/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
/* background-image:url("http://127.0.0.1:8887/avatar.png") ;
background-repeat: no-repeat;
background-position: center;} */}
.hero-background {
  background: -webkit-linear-gradient(#d32f2f ,#f44336);
  background: linear-gradient(#d3d0d0 ,#d8d8d8);
  color: #fff;
  margin-bottom: 60px;
}

@font-face {
  font-family: IRANsans;
  src: url(assets/fonts/IranianSans.ttf) format("opentype");
}
