<div class="container">
    <div class="row" style="direction: rtl;">
        <mat-form-field style="text-align: right;font-family: IRANSANS;">
            <input matInput (keyup)="applyFilter($event.target.value)" style="text-align: right;" placeholder="جستجو">
          </mat-form-field>
    </div>
    <div class="row" >
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
            <!-- Position Column -->
            <ng-container matColumnDef="OrderDate">
              <th mat-header-cell *matHeaderCellDef> تاریخ </th>
              <td mat-cell *matCellDef="let element"> {{element.OrderDate}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="OrderHour">
              <th mat-header-cell *matHeaderCellDef> ساعت </th>
              <td mat-cell *matCellDef="let element"> {{element.OrderHour}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="OrderedBy">
              <th mat-header-cell *matHeaderCellDef> سفارش دهنده </th>
              <td mat-cell *matCellDef="let element"> {{element.OrderedBy}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="PhoneNumber">
              <th mat-header-cell *matHeaderCellDef> شماره تماس </th>
              <td mat-cell *matCellDef="let element"> {{element.PhoneNumber}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
     
</div>

  
  